:root {
  --color-1: #000000;
  --color-2: #ffffff;
}

.prompter {
  display: block;
  padding: 3rem;

  font-size: 3rem;
  font-weight: 600;
  line-height: 1.35;

  background-color: var(--color-2);
}

@media (min-width: 800px) {
  .prompter {
    font-size: 6vw;
  }
}


.prompter__control-wrapper {
  top: 3rem;
  position: sticky;
}

.prompter__script {
  margin-top: 2rem;
}

.prompter__unread-script {
  color: var(--color-1);
  opacity: 0.3;
}

.prompter__read-script {
  color: var(--color-1);
}

.prompter__button {
  display: block;
  padding: 1rem;

  font-size: 1.5rem;
  color: var(--color-2);

  background-color: var(--color-1);
  border: 0;
}
